.cab-usage-section{
    width: 100%;
    display: block;
    margin: 24px 0 0 0;
}

.cab-usage-section h3{
    font-size: 16px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 16px;
}

.cabusage-mainsec{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
}

.requesttype-graphsec{
    border-right:#E8E8E8 solid 1px;
    padding-right: 20px;
}

.requesttype-graphsec h3{
    font-size: 14px;
    color: #222222;
    font-weight: normal;
}
.requesttype-graphsec .graphsection{
    width: 100%;
}

.padding-left20{
    padding-left: 20px !important;
}