
<div class="all-role">
    <div class="role">
        <div class="role-list">
            <h2>Pages Links</h2>
            <ul>
                <li><a href="" [routerLink]="['/carRequests']">Editable cards inside Material Table</a></li>
                <li><a href="" [routerLink]="['/nighcabSheet']">Mailer Example one</a></li>
                <li><a href="" [routerLink]="['/entireDayCabSheet']">Mailer Example two</a></li>
                <li><a href="" [routerLink]="['/regularCabSheet']">Mailer Example three</a></li>

                <li><a href="" [routerLink]="['/admindashboard']">Graph Dashboard</a></li>

            </ul>
        </div>
        <br><br>
    </div>
</div>
