
<div class="all-role">
    <div class="role">
        <div class="role-list">
            <h2>Transportal</h2>
            <ul>
                <li><a href="" [routerLink]="['/carRequests']">Car Requests</a></li>
                <li><a href="" [routerLink]="['/nighcabSheet']">Night Cab Trip Sheet</a></li>
                <li><a href="" [routerLink]="['/entireDayCabSheet']">Entire Day Cab Trip Sheet</a></li>
                <li><a href="" [routerLink]="['/regularCabSheet']">Regular Day Trip Sheet</a></li>

                <li><a href="" [routerLink]="['/admindashboard']">Admin Dashboard</a></li>

            </ul>
        </div>
        <br><br>
    </div>
</div>
