<div class="glb-page-warning-box1">
    <div class="glb-page-warning-box1-col1">
      <ul>
        <li><a target="_blank" href="https://www.microsoft.com/en-in/download/internet-explorer-9-details.aspx"><span><img src="assets/images/iexplorer.png" width="64" height="64" alt=""></span>
          <p class="glb-page-warning-box1-col1-name">Internet Explorer<span>Version 9+</span></p>
          </a></li>
        <li><a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/"><span><img src="assets/images/firefox.png" width="64" height="64" alt=""></span>
          <p class="glb-page-warning-box1-col1-name">Mozila Firefox<span>Version 4+</span></p>
          </a></li>
        <li><a target="_blank" href="https://www.google.co.in/chrome/browser/desktop/"><span><img src="assets/images/chrome.png" width="64" height="64" alt=""></span>
          <p class="glb-page-warning-box1-col1-name">Google Chrome<span>Version 7+</span></p>
          </a></li>
        <li><a target="_blank" href="http://www.apple.com/safari/"><span><img src="assets/images/safari.png" width="64" height="64" alt=""></span>
          <p class="glb-page-warning-box1-col1-name">Apple Safari<span>Version 5+</span></p>
          </a></li>
      </ul>
    </div>
    <h2 class="glb-page-warning-box1-col1-inf">Please upgrade your browser to use this application</h2>
  </div>