<style>
  *{
    margin: 0px;
    padding: 0px;
  }
  label{
    margin-bottom: 5px !important;
    color: #222 !important;
  }
</style>

<div class="whiteBox p15">
  <div class="container" style="width: 1300px; margin: 0 auto; padding: 15px 0;"> 
    <ul class="breadcrumbs">
      <li class="pl-0"><a href="" [routerLink]="['/']"><i class="app-home"></i></a> / </li>
      <li><a href="" [routerLink]="['/']">Cab Approval System</a> / </li>
      <li class="fontBold">Trip Sheet</li>
    </ul> 
  </div> 
  <div class="divider"></div>
  
</div>

<section class="commontripSheetbackground" style="margin-top: 20px;">
  <div class="container" style="width: 1300px; margin: 0 auto;">
    <div class="logoheader">
      <img src="assets/images/HCL.svg" alt="HCL svg">
    </div>

    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">AS N When Trip Sheet - Regular Cab</div>
    <section class="headformSection">
      <div class="row mx-0">
        <form class="w-100">
          <div class="form-row mx-0">
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>SR. No</label>
                <input type="text" placeholder="Type Here" value="2693456" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Shift Date & Time</label>
                <input type="text" placeholder="Type Here" value="10-Mar-21 9:30 AM" pInputText>
              </div>
            </div>
            <div class="col-md-4 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Vendor Name</label>
                <input type="text" placeholder="Type Here" value="As per transport policy" pInputText>
              </div>
            </div>
            <div class="col-md-4 px-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Driver Name</label>
                <input type="text" placeholder="Type Here" value="Ram Kumar Sharma" pInputText>
              </div>
            </div>
          </div>
          <div class="form-row mx-0">
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0">
                <label>Cab No.</label>
                <input type="text" placeholder="Type Here" value="UP16 S56XX" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>Driver’s Mobile No.</label>
                <input type="text" placeholder="Type Here" value="+91 - XXXXXXXXXX" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>No. Of employee</label>
                <input type="text" placeholder="Type Here" value="2" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>Guard (Only for Females)</label>
                <input type="text" placeholder="Type Here" value="Yes" pInputText>
              </div>
            </div>
            <div class="col-md-4 px-0">
              <div class="form-group cstmField mb-0 ">
                <label>Driver Signature</label>
                <input type="text" placeholder="Type Here" value="Ram Kumar Sharma" pInputText>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">Trip details to be completed by Driver</div>

    <section class="tripDetailsTable" style="margin-bottom: 20px;margin-left: -10px; margin-right: -10px;">
      <table width="100%" style="border-spacing: 10px 5px;border-collapse: inherit;">
        <thead>
          <tr>
            <th style="color: #222;">Request ID</th>
            <th style="color: #222;min-width: 133px;">Employee Name (Code)</th>
            <th style="color: #222;width: 50px;">Band</th>
            <th style="color: #222;">Contact No.</th>
            <th style="color: #222;min-width: 120px;">Pickup Point</th>
            <th style="color: #222;min-width: 120px;">Drop Point</th>
            <th style="color: #222;">Start Time</th>
            <th style="color: #222;">End Time</th>
            <th style="color: #222;min-width: 99px;">Start KM Reading</th>
            <th style="color: #222;min-width: 95px;">End KM Reading</th>
            <th style="color: #222;">Total Distance</th>
            <th style="color: #222;">Signature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </section>


    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">FOR OFFICE USE ONLY</div>

    <section style="margin-bottom: 20px;">
      <div class="row mx-0">
        <div class="col-md-6" style="padding-left: 0px; padding-right: 10px;">
          <div class="row">
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Prepared By</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Request ID</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>MCD & Toll Tax</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
              <div class="form-group cstmField mb-0 ">
                <label>Help Desk Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
          <div class="row">
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Security Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>MIS Staff Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Compliance checked by</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
              <div class="form-group cstmField mb-0 ">
                <label>Compliance signature</label>
                <input type="text" pInputText>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row mx-0">
      <div class="col-md-6" style="padding-left: 0px; padding-right: 16px;">
        <div class="commonGreyHeader" style="background-color: #828282;
          width: 100%;
          padding: 12px;
          text-align: center;
          margin-bottom: 20px;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;">Transport Hub, Noida, UP</div>
      </div>
      <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
        <div class="commonGreyHeader" style="background-color: #828282;
          width: 100%;
          padding: 12px;
          text-align: center;
          margin-bottom: 20px;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;">Emergency Contact No. - 9952900217</div>
      </div>
    </div>

  </div>
</section>


<section class="commontripSheetbackground" style="margin-top: 20px;">
  <div class="container" style="width: 1300px; margin: 0 auto;">
    <div class="logoheader">
      <img src="assets/images/HCL.svg" alt="HCL svg">
    </div>

    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">AS N When Trip Sheet - Regular Cab</div>
    <section class="headformSection">
      <div class="row mx-0">
        <form class="w-100">
          <div class="form-row mx-0">
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>SR. No</label>
                <input type="text" placeholder="Type Here" value="2693456" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Shift Date & Time</label>
                <input type="text" placeholder="Type Here" value="10-Mar-21 9:30 AM" pInputText>
              </div>
            </div>
            <div class="col-md-4 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Vendor Name</label>
                <input type="text" placeholder="Type Here" value="As per transport policy" pInputText>
              </div>
            </div>
            <div class="col-md-4 px-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Driver Name</label>
                <input type="text" placeholder="Type Here" value="Ram Kumar Sharma" pInputText>
              </div>
            </div>
          </div>
          <div class="form-row mx-0">
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0">
                <label>Cab No.</label>
                <input type="text" placeholder="Type Here" value="UP16 S56XX" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>Driver’s Mobile No.</label>
                <input type="text" placeholder="Type Here" value="+91 - XXXXXXXXXX" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>No. Of employee</label>
                <input type="text" placeholder="Type Here" value="2" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>Guard (Only for Females)</label>
                <input type="text" placeholder="Type Here" value="Yes" pInputText>
              </div>
            </div>
            <div class="col-md-4 px-0">
              <div class="form-group cstmField mb-0 ">
                <label>Driver Signature</label>
                <input type="text" placeholder="Type Here" value="Ram Kumar Sharma" pInputText>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">Trip details to be completed by Driver</div>

    <section class="tripDetailsTable" style="margin-bottom: 20px;margin-left: -10px; margin-right: -10px;">
      <table width="100%" style="border-spacing: 10px 5px;border-collapse: inherit;">
        <thead>
          <tr>
            <th style="color: #222;">Request ID</th>
            <th style="color: #222;min-width: 133px;">Employee Name (Code)</th>
            <th style="color: #222;width: 50px;">Band</th>
            <th style="color: #222;">Contact No.</th>
            <th style="color: #222;min-width: 120px;">Pickup Point</th>
            <th style="color: #222;min-width: 120px;">Drop Point</th>
            <th style="color: #222;">Start Time</th>
            <th style="color: #222;">End Time</th>
            <th style="color: #222;min-width: 99px;">Start KM Reading</th>
            <th style="color: #222;min-width: 95px;">End KM Reading</th>
            <th style="color: #222;">Total Distance</th>
            <th style="color: #222;">Signature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </section>


    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">FOR OFFICE USE ONLY</div>

    <section style="margin-bottom: 20px;">
      <div class="row mx-0">
        <div class="col-md-6" style="padding-left: 0px; padding-right: 10px;">
          <div class="row">
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Prepared By</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Request ID</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>MCD & Toll Tax</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
              <div class="form-group cstmField mb-0 ">
                <label>Help Desk Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
          <div class="row">
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Security Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>MIS Staff Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Compliance checked by</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
              <div class="form-group cstmField mb-0 ">
                <label>Compliance signature</label>
                <input type="text" pInputText>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row mx-0">
      <div class="col-md-6" style="padding-left: 0px; padding-right: 16px;">
        <div class="commonGreyHeader" style="background-color: #828282;
          width: 100%;
          padding: 12px;
          text-align: center;
          margin-bottom: 20px;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;">Transport Hub, Noida, UP</div>
      </div>
      <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
        <div class="commonGreyHeader" style="background-color: #828282;
          width: 100%;
          padding: 12px;
          text-align: center;
          margin-bottom: 20px;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;">Emergency Contact No. - 9952900217</div>
      </div>
    </div>

  </div>
</section>



<section class="commontripSheetbackground" style="margin-top: 20px;">
  <div class="container" style="width: 1300px; margin: 0 auto;">
    <div class="logoheader">
      <img src="assets/images/HCL.svg" alt="HCL svg">
    </div>

    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">AS N When Trip Sheet - Regular Cab</div>
    <section class="headformSection">
      <div class="row mx-0">
        <form class="w-100">
          <div class="form-row mx-0">
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>SR. No</label>
                <input type="text" placeholder="Type Here" value="2693456" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Shift Date & Time</label>
                <input type="text" placeholder="Type Here" value="10-Mar-21 9:30 AM" pInputText>
              </div>
            </div>
            <div class="col-md-4 paddright16 pl-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Vendor Name</label>
                <input type="text" placeholder="Type Here" value="As per transport policy" pInputText>
              </div>
            </div>
            <div class="col-md-4 px-0">
              <div class="form-group cstmField" style="margin-bottom: 20px;">
                <label>Driver Name</label>
                <input type="text" placeholder="Type Here" value="Ram Kumar Sharma" pInputText>
              </div>
            </div>
          </div>
          <div class="form-row mx-0">
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0">
                <label>Cab No.</label>
                <input type="text" placeholder="Type Here" value="UP16 S56XX" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>Driver’s Mobile No.</label>
                <input type="text" placeholder="Type Here" value="+91 - XXXXXXXXXX" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>No. Of employee</label>
                <input type="text" placeholder="Type Here" value="2" pInputText>
              </div>
            </div>
            <div class="col-md-2 paddright16 pl-0">
              <div class="form-group cstmField mb-0 ">
                <label>Guard (Only for Females)</label>
                <input type="text" placeholder="Type Here" value="Yes" pInputText>
              </div>
            </div>
            <div class="col-md-4 px-0">
              <div class="form-group cstmField mb-0 ">
                <label>Driver Signature</label>
                <input type="text" placeholder="Type Here" value="Ram Kumar Sharma" pInputText>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">Trip details to be completed by Driver</div>

    <section class="tripDetailsTable" style="margin-bottom: 20px;margin-left: -10px; margin-right: -10px;">
      <table width="100%" style="border-spacing: 10px 5px;border-collapse: inherit;">
        <thead>
          <tr>
            <th style="color: #222;">Request ID</th>
            <th style="color: #222;min-width: 133px;">Employee Name (Code)</th>
            <th style="color: #222;width: 50px;">Band</th>
            <th style="color: #222;">Contact No.</th>
            <th style="color: #222;min-width: 120px;">Pickup Point</th>
            <th style="color: #222;min-width: 120px;">Drop Point</th>
            <th style="color: #222;">Start Time</th>
            <th style="color: #222;">End Time</th>
            <th style="color: #222;min-width: 99px;">Start KM Reading</th>
            <th style="color: #222;min-width: 95px;">End KM Reading</th>
            <th style="color: #222;">Total Distance</th>
            <th style="color: #222;">Signature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>xxxxxXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>ABC (xxxxxXX)</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>E2</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>98XXXXXXXX</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>HCL Technologies, SEZ, sec - 127</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>C-15, amazing tower noida, sector-150</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea>70 KM</textarea>
            </td>
            <td>
              <textarea name="" id="" cols="30" rows="5" pInputTextarea></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </section>


    <div class="commonGreyHeader" style="background-color: #828282;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;">FOR OFFICE USE ONLY</div>

    <section style="margin-bottom: 20px;">
      <div class="row mx-0">
        <div class="col-md-6" style="padding-left: 0px; padding-right: 10px;">
          <div class="row">
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Prepared By</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Request ID</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>MCD & Toll Tax</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
              <div class="form-group cstmField mb-0 ">
                <label>Help Desk Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
          <div class="row">
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Security Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>MIS Staff Signature</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 10px;">
              <div class="form-group cstmField mb-0 ">
                <label>Compliance checked by</label>
                <input type="text" pInputText>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
              <div class="form-group cstmField mb-0 ">
                <label>Compliance signature</label>
                <input type="text" pInputText>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row mx-0">
      <div class="col-md-6" style="padding-left: 0px; padding-right: 16px;">
        <div class="commonGreyHeader" style="background-color: #828282;
          width: 100%;
          padding: 12px;
          text-align: center;
          margin-bottom: 20px;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;">Transport Hub, Noida, UP</div>
      </div>
      <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
        <div class="commonGreyHeader" style="background-color: #828282;
          width: 100%;
          padding: 12px;
          text-align: center;
          margin-bottom: 20px;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;">Emergency Contact No. - 9952900217</div>
      </div>
    </div>

  </div>
</section>


<div class="glBtn customButtonSection modalbtns" style="background-color: transparent !important; margin-top: 0px;">
  <button type="button" class="btn secondary-outline-button border-radius2px" style="color: #777;
  border: #777 solid 1px;
  cursor: pointer; background-color: transparent; border-radius: 2px; margin-right: 16px;padding: 7px 10px;" [routerLink]="['/carRequests']">Cancel</button>
  <button type="button" class="btn primary-button border-radius2px" style="color: #fff;
  border: #1ec00b solid 1px;
  cursor: pointer; background-color: #1ec00b; border-radius: 2px;padding: 7px 10px;" (click)="windowPrintFn()">Continue</button>  
</div>