<div class="glb-page-warning-box1">
    <div class="glb-page-warning-box1-col1"> <img src="assets/images/downTime.png" alt="">
      <h2>Application Downtime</h2>
      <h3 class="glb-page-warning-box1-text">This is to inform you about the planned downtime for this application. Below are the activity, service impact and outage details.</h3>
      <div class="glb-page-warning-box1-grid">
        <table class="table">
          <tbody>
            <tr>
              <th>DETAIL OF MAINTENANCE <span class="pull-right">:</span></th>
              <td>Downtime for this Application</td>
            </tr>
            <tr>
              <th>MAINTENANCE DATE &amp; DAY <span class="pull-right">:</span></th>
              <td>October 6, 2016 | Thursday</td>
            </tr>
            <tr>
              <th>MAINTENANCE WINDOW <span class="pull-right">:</span></th>
              <td>06:00 PM IST, October 6, 2016 | 08:00 PM IST, October 6, 2016</td>
            </tr>
            <tr>
              <th>SERVICE IMPACT DURATION <span class="pull-right">:</span></th>
              <td>02 Hours (06:00 PM to 08:00 PM IST)</td>
            </tr>
            <tr>
              <th>SERVICE IMPACT AREA <span class="pull-right">:</span></th>
              <td>All this application users</td>
            </tr>
            <tr>
              <th>RESPONSE ID (IN CASE OF ANY QUERY) <span class="pull-right">:</span></th>
              <td><a href="mailto:gitappdbteam@hcl.com">gitappdbteam@hcl.com</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="glb-btn"><span class="btn primary-button" onClick="location.href='https://myhcl.com'">Back to Home</span></div>
    </div>
  </div>