

<!-- dashboard top header form starts here -->
<div class="whiteBox p16 dashboard-topheader">
  <div class="container"> 
    <div class="row mx-0">
      <div class="col-md-6 pl-0">
        <h1>Dashboard</h1>
      </div>
      <div class="col-md-6 text-right pr-0">
        <ul class="dashboardheader-form">
          <li>
            <div class="form-group cstmField commonIconClass">
              <label class="sr-only">Pin Code</label>
              <input type="text" placeholder="Type here…" pInputText> 
              <span class="app-search_icon"></span>
            </div>
          </li>
          <li>
            <div class="form-group cstmField">
              <label class="sr-only">Pickup City</label>
              <p-dropdown [options]="TransportDesk" [(ngModel)]="selectedTransportDesk" placeholder="Select Transport Desk" optionLabel="name"></p-dropdown> 
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- dashboard top header form end here -->

<!-- request overview component start here -->
<app-request-overview></app-request-overview>
<!-- request overview ends here -->

<!-- cab usage start here -->
<app-cab-usage></app-cab-usage>
<!-- cab usage ends -->

<!-- vendor start here -->
<app-top-vendors></app-top-vendors>
<!-- vendor end here -->

